.main {
    background-color: white;
}

.main__header {
    border-bottom: 2px solid #ddd;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 0;
    margin-top: 10px;
    font-family: 'Source Sans Pro', sans-serif;
}