.section {
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin: 10px 0;
}

.section__header {
    background-color: white;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}