.section {
    border-bottom: 1px solid #ddd;
    background-color: white;
    margin: 10px 0;
}

.section__header {
    background-color: white;
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.section__headerButton {
    color: teal;
    background-color: transparent;
    border: 0px transparent;
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    cursor: pointer;

}

.section__headerButton :disabled {
    color: #ddd;
}

.section__headerName {
    padding: 10px;
    margin: 0;
}